.board{
  display: flex;
  justify-content: center;
}
.box{
  border: 10px solid gray;
  width: 40vw;
  height: 60vh;
  margin: 1em;
  text-align: center;
}
.box img{
  display: none;
}
.box img[src]{
  display: inline;
  width: 250px;
  height: 250px;
}
button{
  border: none;
  background-color: white;
  font-size: 30px;
  cursor: pointer;
}
.main{
  text-align: center;
}
.Win{
  border: 10px solid green; 
  color: green;
}
.Lose{
  border: 10px solid red;
  color: red;
}
.Tie{
  border: 10px solid gray;
  color: gray;
}